---

---

<header class="mainHeader flex justify-between items-center p-4">
  <div class="flex items-center gap-4">
    <img src="img/logo.webp" alt="EpicOasis Logo" class="aspect-11/6 w-20" />
    <h1 class="text-2xl font-bold m-0">EpicOasis</h1>
  </div>
  <a class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700" href="/"
    >Inicia Sesion</a
  >
</header>

<script>
  import { animate, utils, onScroll, stagger } from "animejs";

  animate(".mainHeader", {
    duration: 1000,
    easing: "easeInOutQuad",
    backgroundColor: "#91C167",
    autoplay: onScroll({
      container: "body",
      enter: { target: "top+=20", container: "top" },
      leave: { target: "bottom", container: "top" },
      sync: "play reverse",
      debug: false,
    }),
  });

  // function animateGrid() {
  //   const width = window.innerWidth;
  //   const height = window.innerHeight;

  //   const howBoxesX = Math.ceil(width / 50);
  //   const howBoxesY = Math.ceil(height / 50);

  //   animate(".box", {
  //     scale: [{ to: [0, 1.25] }, { to: 0 }],
  //     boxShadow: [
  //       { to: "0 0 1rem 0 currentColor" },
  //       { to: "0 0 0rem 0 currentColor" },
  //     ],
  //     delay: stagger(100, {
  //       grid: [howBoxesX, howBoxesY],
  //       from: utils.random(0, howBoxesX * howBoxesY),
  //     }),
  //     onComplete: animateGrid,
  //   });
  // }

  // animateGrid();

  function animateGrid() {
    const width = window.innerWidth;
    const height = window.innerHeight;
    const howBoxesX = Math.ceil(width / 50);
    const howBoxesY = Math.ceil(height / 50);

    const grid = [howBoxesX, howBoxesY]
    const from = utils.random(0, howBoxesX * howBoxesY);
    animate(".box", {
      translateX: [
        { to: stagger("-.75rem", { grid, from, axis: "x" }) },
        { to: 0, ease: "inOutQuad" },
      ],
      translateY: [
        { to: stagger("-.75rem", { grid, from, axis: "y" }) },
        { to: 0, ease: "inOutQuad" },
      ],
      opacity: [{ to: 0.5 }, { to: 1 }],
      delay: stagger(85, { grid, from }),
      onComplete: animateGrid,
    });
  }

  animateGrid();
</script>
