---
import Layout from '../layouts/Layout.astro'
import Plays from '../components/Plays.astro'

export const prerender = true
---

<Layout>
	<h2 class="text-center text-5xl font-bold mt-10">El Oasis se ha formado</h1>
	<Plays server:defer>
		<h1 slot="fallback">Hola mundo</h1>
	</Plays>
</Layout>
