---

---

<header class="flex justify-between items-center p-4 fixed top-0 left-0 bg-transparent w-full h-[70px] z-1">
  <div class="flex items-center gap-4 prose-h1:prose-xl max-sm:prose-h1:prose-base font-bold">
    <h1 class="">EpicOasis</h1>
  </div>
  <div class="bg-gray-700">
    <button>BUSCADOR</button>
    <button>MODO</button>
  </div>
</header>
