---

---

<header class="mainHeader flex justify-between items-center p-4">
  <div class="flex items-center gap-4">
    <h1 class="text-3xl font-bold m-0">EpicOasis</h1>
  </div>
  <div></div>
</header>

<script>

</script>
