---
import Search from "@lucide/astro/icons/search";
import Eclipse from "@lucide/astro/icons/eclipse";
---

<header
  class="flex justify-between items-center p-4 fixed top-0 left-0 bg-transparent w-full h-[70px] z-1 dark:text-oscuro-texto text-claro-texto"
>
  <div
    class="flex items-center gap-4 prose-h1:prose-xl max-sm:prose-h1:prose-base font-bold"
  >
    <h1 class="">EpicOasis</h1>
  </div>
  <div class="flex gap-6 max-sm:gap-2 font-bol max-sm:text-base">
    <button
      title="Click para Buscar"
      class="flex items-center gap-2 p-2 rounded-lg bg-claro-fondo dark:bg-oscuro-fondo hover:bg-claro-fondo/80 dark:hover:bg-oscuro-fondo/80 transition-colors duration-300"
      ><Search class="text-current" size={27} stroke-width="2" /> Buscador</button
    >
    <button
      title="Click para cambiar de tema"
      class="flex items-center gap-2 p-2 rounded-lg bg-claro-fondo dark:bg-oscuro-fondo hover:bg-claro-fondo/80 dark:hover:bg-oscuro-fondo/80 transition-colors duration-300"
      ><Eclipse class="text-current" size={27} stroke-width="2" />
    </button>
  </div>
</header>

<style>
  header {
    transition:
      background-color 0.4s ease-out,
      backdrop-filter 0.4s ease-out;

    opacity: 0;
    transform: translateY(-100%); /* Empieza fuera de la pantalla arriba */
    animation:
      fadeInDown 0.6s ease-out forwards,
      backgroundFilter 0.6s 0.6s ease-out forwards; /* Nombre, duración, easing, delay, fill-mode */
    border-bottom: 1px solid; /* Para evitar el parpadeo del borde */
  }

  /* --- Keyframes para la animación de entrada (Opcional) --- */
  @keyframes fadeInDown {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes backgroundFilter {
    to {
      background-color: rgba(150, 150, 150, 0.3); /* Gris translúcido */
      backdrop-filter: blur(5px) saturate(150%); /* Con blur */
    }
  }
</style>
