---

---

<header class="flex justify-between p-4 absolute bg-transparent w-full z-1">
  <div class="flex items-center gap-4">
    <h1 class="text-3xl font-bold m-0">EpicOasis</h1>
  </div>
  <div class="bg-gray-700">
    <button>BUSCADOR</button>
    <button>MODO</button>
  </div>
</header>
