---
import "../styles/global.css"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/webp" href="/img/icon.webp" />
    <title>EpicOasis - the oasis of games</title>
    <meta
      name="description"
      content="EpicOasis: Descubre los mejores juegos, plataformas y novedades del mundo gamer en un solo lugar."
    />
    <meta
      name="keywords"
      content="videojuegos, gaming, reseñas, noticias, comunidad, juegos, EpicOasis, plataformas, PC, PlayStation, Xbox, Nintendo"
    />
    <meta name="author" content="migulCode" />
    <meta property="og:title" content="EpicOasis" />
    <meta
      property="og:description"
      content="Descubre los mejores videojuegos, reseñas y noticias en EpicOasis. ¡Tu oasis gamer!"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://epicoasis.vercel.app/" />
    <meta
      property="og:image"
      content="https://epicoasis.vercel.app/img/icon.webp"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="EpicOasis" />
    <meta
      name="twitter:description"
      content="Noticias, reseñas y comunidad de videojuegos. Descubre los mejores juegos y novedades gamer."
    />
    <meta
      name="twitter:image"
      content="https://epicoasis.vercel.app/img/icon.webp"
    />
    <meta name="theme-color" content="#0f1115" />
  </head>
  <body
    class="bg-claro-fondo dark:bg-oscuro-fondo font-jetbrains max-sm:prose-p:prose-sm text-claro-texto dark:text-oscuro-texto"
  >
    <Header />
    <slot />
    <Footer />
  </body>
</html>
