---
import "../styles/global.css";
import Header from "../components/layout/Header.astro";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <title>EpicOasis</title>
    <ClientRouter fallback="none" />
  </head>
  <body >
    <Header />
    <slot />
  </body>
</html>
